.center {
  text-align: center;
}

.container {
  margin: auto;
  width: 100%;
  background-color: #eee;
}

.first-img {
  height: 100%;
  background-image: url(../img/elegant.jpg);
  background-origin:content;
  background-repeat:no-repeat;
  background-size: 110%;
}

.teamname {
  margin: auto;
  padding: 18%;
  font-size: 50px;
  color: #ddd;
  text-shadow: 10px;
}


.button-more {
  margin: 0 auto;
  border: 0px;
  color: #fff;
  font-size: 35px;
  padding: 15px;
  text-align: center;
}

.button-more a {
  background-color: #fff;
  text-decoration: none;
  font-weight: 900;
  color: #444;
  padding: 10px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.members {
  padding: 0 12%;
/*  background-color: #aaa;*/
  width: 76%;
  padding-top: 5%;
}

.member-info {
  height: 350px;
  margin-bottom: 10px;
/*  background-color: #eee;
  border: 1px solid;*/
}

.member-left {
  position: relative;
  height: inherit;
  width: 250px;
  background-color: #555;
}

.member-img {
  height: 50%;
  background-origin:content;
  background-repeat:no-repeat;
  background-size: 100%;
  border-radius: 50%;
}

.img-border {
  height: 250px;
  margin: 25%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.about {
  width: 73%;
  height: inherit;
  position: relative;
  background-color: #fff;
}

.about-detail-right {
  margin: 5% 14% auto;
}

.about-detail-left {
  margin: 5% 4% auto;
}

.about-name {
  font-size: 35px;
  font-family: "Raleway";
  font-weight: normal;
  margin-bottom: 20px;
  color: #666;
}

.about-intro {
  color: #888;
  font-size: 20px!important;
}

.about-info-detail {
  color: #666;
  font-size: 18px;
}

.about-info-detail span {
  margin-left: 5px;
}

.about-info-detail span a {
  color: #1c8eba;
  text-decoration: none;
}

.copyright {
  background-color: #444;
  color: #fff;
  opacity: 0.8;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 1%;
}
